{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}
{% block content %}
{% include "header.html" %}


  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/pavan-trikutam-71CjSSB83Wo-unsplash.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            {% if request.method == "GET": %}
            <h1>お追い合わせ</h1>
            {% else %}
            <h1>ありがとうございました！<br/>メッセージを送信しました。</h1>
            <span class="subheading"><h2>後ほどご連絡させていただきます。</h2></span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h2>講座についてのご質問やご相談については、<br/>ご要望がございましたら、下記フォームより<br/>お気軽にお問い合わせください。</h2>
        {{ render_form(form) }}
      </div>
    </div>
  </div>

  {% include "footer.html" %}
{% endblock %}