{% extends "base.html" %}
{% block head %}
  <title href="http://impressario.world/top/company/">IMPRESSARIO合同会社</title>
    {% block styles %}
      <!-- Bootstrap core CSS -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
      <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

      <!-- Custom fonts for this template -->
      <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet" type="text/css">
      <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
      <!-- Custom styles for this template -->
      <link href="{{ url_for('static', filename='css/clean-blog.min.css')}}" rel="stylesheet">

    {% endblock %}
<title>バレエを学ぶ人のためのロシア語講座</title>
{% endblock %}
<body>
 {% block content %}
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="{{url_for('get_all_posts')}}">バレエメッセ・スクール　IMPRESSARIO合同会社</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        メニュー
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('get_all_posts') }}">ホーム</a>
          </li>
        {% if not current_user.is_authenticated: %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('login') }}">ログイン</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('register') }}">新規登録</a>
          </li>
      {% else: %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('logout') }}">ログアウト</a>
          </li>
    {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('about') }}">Impressario合同会社について</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('contact') }}">お問い合わせ</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
{% endblock %}