{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block content %}
{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" id="login_picture" style="background-image: url({{ url_for('static', filename='img/kazuo-ota-XAAcDEoWcqY-unsplash.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>ログイン</h1>
            {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
         <p>{{ message }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}
<!--            <span class="subheading">おかえり！</span>-->
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">

      <div class="col-lg-8 col-md-10 mx-auto content">
        {{ render_form(form) }}
      </div>
    </div>
  </div>


{% include "footer.html" %}
{% endblock %}


