{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block content %}
{% include "header.html" %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/aaron-burden-y02jEX_B0O0-unsplash.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            {% if is_edit: %}
            <h1>投稿を編集する</h1>
            {% else: %}
            <h1>新しい投稿を書く</h1>
            {% endif %}
            <span class="subheading">あなたの素晴らしい投稿をお楽しみにお待ちしております。</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {{ ckeditor.load() }}
        {{ ckeditor.config(name='body') }}
        {{ render_form(form) }}
      </div>
    </div>
  </div>

{% include "footer.html" %}
{% endblock %}